@import url(https://fonts.googleapis.com/css?family=Lato:900|Creepster);

html {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("./haunted-mansion.jpg");
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
}
.grid {
  width: 100%;
  height: 100%;
}
.Absolute-Center {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.container {
  position: relative;
  width: 500px;
  margin: auto;
  text-align: center;
  padding-top: 10%;
}

/* counter-reset  */

body {
  counter-reset: pumpkinCounter 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
}
/*hide checkbox*/
input {
  position: fixed;
  left: -10px;
  top: -10px;
}
/*play area*/
.wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  cursor: crosshair;
}
/*count dead jacks*/
.input-pumpkin:checked {
  counter-increment: pumpkinCounter;
}
.sum {
  position: fixed;
  width: 100%;
  text-align: center;
  bottom: 30px;
  height: auto;
  font-size: 18px;
  font-weight: bold;
  font-family: Lato;
  color: #fff;
  letter-spacing: 3px;
  text-transform: uppercase;
}
/*print to screen dead jack total*/
.sum:after {
  content: counter(pumpkinCounter);
}
.input-pumpkin ~ .jack {
  opacity: 0;
  -webkit-transition: 0.3s cubic-bezier(0, 0.43, 1, 0);
  transition: 0.3s cubic-bezier(0, 0.43, 1, 0);
  -webkit-animation: move 8s infinite alternate;
  animation: move 8s infinite alternate;
}
.input-pumpkin1:not(:checked) ~ .jack1,
.input-pumpkin2:not(:checked) ~ .jack2,
.input-pumpkin3:not(:checked) ~ .jack3,
.input-pumpkin4:not(:checked) ~ .jack4,
.input-pumpkin5:not(:checked) ~ .jack5,
.input-pumpkin6:not(:checked) ~ .jack6,
.input-pumpkin7:not(:checked) ~ .jack7,
.input-pumpkin8:not(:checked) ~ .jack8 {
  opacity: 1;
}
.input-pumpkin1:checked ~ .jack1 span,
.input-pumpkin2:checked ~ .jack2 span,
.input-pumpkin3:checked ~ .jack3 span,
.input-pumpkin4:checked ~ .jack4 span,
.input-pumpkin5:checked ~ .jack5 span,
.input-pumpkin6:checked ~ .jack6,
.input-pumpkin7:checked ~ .jack7 span,
.input-pumpkin8:checked ~ .jack8 span {
  display: block;
}
/*----------- 
Flying jacks */

.jack {
  position: absolute;
  left: 0;
  cursor: crosshair;
  background-image: url(./pumpkin.gif);
  width: 191px;
  height: 200px;
  z-index: 2;
}
.jack > span {
  display: none;
  position: absolute;
  z-index: 2;
  text-align: center;
  color: rgba(255, 252, 252, 0.5);
  font-weight: bolder;
  width: 100px;
  height: 100px;
}
.jack > span:before {
  content: "☠";
  font-size: 150px;
}
/* Uncomment and add your jacks for targeted content messages.  

.jack1>span:before {
content: "Can't Kill the Dead";

*/

.jack1 {
  top: 10%;
  -webkit-animation-delay: -2s !important;
  animation-delay: -2s !important;
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}
.jack2 {
  top: 20%;
  -webkit-animation-delay: -4s !important;
  animation-delay: -4s !important;
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}
.jack3 {
  top: 30%;
  -webkit-animation-delay: -3s !important;
  animation-delay: -3s !important;
  -webkit-transform: scale(1.25);
  -ms-transform: scale(1.25);
  transform: scale(1.25);
}
.jack4 {
  top: 40%;
  -webkit-animation-delay: -8s !important;
  animation-delay: -8s !important;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.jack5 {
  top: 50%;
  -webkit-animation-delay: -16s !important;
  animation-delay: -16s !important;
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}
.jack6 {
  top: 60%;
  -webkit-animation-delay: -9s !important;
  animation-delay: -9s !important;
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}
.jack7 {
  top: 70%;
  -webkit-animation-delay: -6s !important;
  animation-delay: -6s !important;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.jack8 {
  top: 80%;
  -webkit-animation-delay: -12s !important;
  animation-delay: -12s !important;
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
}
@-webkit-keyframes move {
  0% {
    left: 0%;
  }
  20% {
    left: 20%;
    top: 50%;
  }
  40% {
    top: 30%;
    left: 60%;
  }
  60% {
    top: 80%;
    left: 80%;
  }
  80% {
    top: 10%;
    left: 20%;
  }
  100% {
    top: 30%;
    left: 20%;
  }
}
@keyframes move {
  0% {
    left: 0%;
  }
  20% {
    left: 20%;
    top: 50%;
  }
  40% {
    top: 30%;
    left: 60%;
  }
  60% {
    top: 80%;
    left: 80%;
  }
  80% {
    top: 10%;
    left: 20%;
  }
  100% {
    top: 30%;
    left: 20%;
  }
}
/* Page Stying  */
h1 {
  z-index: 1;
  font-size: 10vw;
  color: #ffffff;
  padding-top: 10%;
  font-family: "Creepster", cursive;
  letter-spacing: 10px;
  text-shadow: 5px 3px 0px #000;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-transform: rotate(-13deg);
  -ms-transform: rotate(-13deg);
  transform: rotate(-13deg);
  text-align: center;
  width: 100%;
  letter-spacing: 10px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

h2 {
  z-index: 2;
  font-size: 7vw;
  color: grey;
  padding-left: 17%;
  padding-top: 45%;
  font-family: "Creepster", cursive;
  letter-spacing: 10px;
  text-shadow: 5px 3px 0px #000;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  width: 100%;
  letter-spacing: 10px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

#play-again {
  position: absolute; /* Remove from the normal flow */
  left: -9999px; /* Move off-screen */
}

input.input-pumpkin {
  position: absolute; /* Remove from the normal flow */
  left: -9999px; /* Move off-screen */
}

/* Play Again button styling */
.play-again {
  display: none; /* Initially hidden */
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  font-size: 1.5em;
  font-weight: bold;
  font-family: Lato;
  color: #fff;
  letter-spacing: 3px;
  text-transform: uppercase;
  background-color: #333;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  z-index: 10; /* Ensures it sits above other elements */
}

body:has(.input-pumpkin:checked:nth-of-type(8)) .play-again {
  display: inline-block;
}

/* ---------- Fog ---------- */
.fogwrapper {
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  -webkit-filter: blur(1px) grayscale(0.2) saturate(1.2) sepia(0.2);
  filter: blur(1px) grayscale(0.2) saturate(1.2) sepia(0.2);
}

#foglayer_01,
#foglayer_02,
#foglayer_03 {
  height: 100%;
  position: absolute;
  width: 200%;
}

#foglayer_01 .image01,
#foglayer_01 .image02,
#foglayer_02 .image01,
#foglayer_02 .image02,
#foglayer_03 .image01,
#foglayer_03 .image02 {
  float: left;
  height: 100%;
  width: 50%;
}

#foglayer_01 {
  -webkit-animation: foglayer_01_opacity 10s linear infinite,
    foglayer_moveme 15s linear infinite;
  animation: foglayer_01_opacity 10s linear infinite,
    foglayer_moveme 15s linear infinite;
}

#foglayer_02,
#foglayer_03 {
  -webkit-animation: foglayer_02_opacity 21s linear infinite,
    foglayer_moveme 13s linear infinite;
  animation: foglayer_02_opacity 21s linear infinite,
    foglayer_moveme 13s linear infinite;
}

/* ---------- Moving Fog ---------- */
#foglayer_01 .image01,
#foglayer_01 .image02 {
  background: url("https://raw.githubusercontent.com/danielstuart14/CSS_FOG_ANIMATION/master/fog1.png")
    center center/cover no-repeat transparent;
}

#foglayer_02 .image01,
#foglayer_02 .image02,
#foglayer_03 .image01,
#foglayer_03 .image02 {
  background: url("https://raw.githubusercontent.com/danielstuart14/CSS_FOG_ANIMATION/master/fog2.png")
    center center/cover no-repeat transparent;
}

/* ---------- Keyframe Layer 1 ---------- */
@keyframes foglayer_01_opacity {
  0% {
    opacity: 0.1;
  }
  22% {
    opacity: 0.5;
  }
  40% {
    opacity: 0.28;
  }
  58% {
    opacity: 0.4;
  }
  80% {
    opacity: 0.16;
  }
  100% {
    opacity: 0.1;
  }
}

/* ---------- Keyframe Layer 2 ---------- */
@keyframes foglayer_02_opacity {
  0% {
    opacity: 0.5;
  }
  25% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.1;
  }
  80% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.5;
  }
}

/* ---------- Keyframe Layer 3 ---------- */
@keyframes foglayer_03_opacity {
  0% {
    opacity: 0.8;
  }
  27% {
    opacity: 0.2;
  }
  52% {
    opacity: 0.6;
  }
  68% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.8;
  }
}

/* ---------- Keyframe moveMe ---------- */
@keyframes foglayer_moveme {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}

@media only screen and (min-width: 280px) and (max-width: 767px) {
  #foglayer_01 .image01,
  #foglayer_01 .image02,
  #foglayer_02 .image01,
  #foglayer_02 .image02,
  #foglayer_03 .image01,
  #foglayer_03 .image02 {
    width: 100%;
  }
}
